{% extends "main/base.html" %}

<head>
    {% block title %}digvijay q2{% endblock %}
    {% block additional_content %}
    <style>
        table,
        th,
        tr,
        td {
            padding: 5px;
            border: solid;
            text-align: center;
        }

        #chart-container {
            height: 100vh;
            width: 100%;
        }
    </style>
    {% endblock %}
</head>

    {% block content %}
    <h2 class="text-gray-900 dark:text-white">What is the distribution of top-ranking students across different colleges and branches?
    </h2>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" onchange=showTable() id="flexSwitchCheckDefault">
        <label class="form-check-label text-gray-900 dark:text-white" for="flexSwitchCheckDefault">Show Table</label>
      </div>
      <div> Showing data for {{year}}</div>
    <div id="chart-container"></div>

    <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

    <script>
        function showTable(){
                var isChecked = document.getElementById('flexSwitchCheckDefault').checked;
                console.log(isChecked);
                var table = document.getElementById('data_table');
                if(isChecked) {
                    table.style.display = 'block';
                }
                else{
                    table.style.display = 'none';
                }
            }
        var dataString = '{{ jsdata|safe }}';
        var data = JSON.parse(dataString);
        // console.log(data);

        years = [];
        colleges = [];
        opening_ranks = [];
        closing_ranks = [];
        branches = [];

        function removeDuplicates(arr) {
            return [...new Set(arr)];
        }

        for (var i = 0; i < data.length; i++) {
            years.push(data[i].year);
            colleges.push(data[i].institute);
            branches.push(data[i].program);
        }
        colleges = removeDuplicates(colleges);
        years = removeDuplicates(years);
        branches = removeDuplicates(branches);

        console.log(years);
        console.log(colleges);
        console.log(branches);

        yearWiseNumbers = [];
        for (var k = 0; k < years.length; k++) {
            var collegeWiseNumbers = [];
            for (var i = 0; i < colleges.length; i++) {
                // var collegesTotal = [];
                var collegeTotal = 0;
                for (var x = 0; x < branches.length; x++) {
                    var diff = 0;
                    for (var j = 0; j < data.length; j++) {
                        if (data[j].institute == colleges[i]) {
                            if (data[j].program == branches[x]) {
                                if (data[j].year == years[k]) {
                                    diff = data[j].closing_rank - data[j].opening_rank;
                                }
                            }
                        }
                    }
                    collegeTotal = collegeTotal + diff;
                }
                collegeWiseNumbers.push({'value':collegeTotal,'name':colleges[i]});
            }
            yearWiseNumbers.push(collegeWiseNumbers);
        }

        var finalList = [];
        for(var i=0; i<years.length; i++){
            var branchWiseYearWise = [];
            for(var j=0; j<branches.length; j++){
                var total = 0;
                for(var k=0; k<data.length; k++){
                    if(data[k].year == years[i]){
                        if(data[k].program == branches[j]){
                            total += (data[k].closing_rank - data[k].opening_rank);
                        }
                    }
                }
                branchWiseYearWise.push({'value':total,'name':branches[j]});
            }
            finalList.push(branchWiseYearWise);
        }

        // console.log(finalList);


        var dom = document.getElementById("chart-container");
        var myChart = echarts.init(dom, null, {
            renderer: "canvas",
            useDirtyRect: false,
        });


        var series = [];
        colors = ['#ae1029', '#0065c2', '#26c238', '#9876aa', '#fb8649',
            '#57904b', '#d35b5c'];

        var option;

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: ({d}%)'
            },
            legend: {
                data: []
            },
            series: [
                {
                    name: 'Branch',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        show:false,
                        fontSize: 14,
                        overflow: 'hidden',

                    },
                    labelLine: {
                        show: false
                    },
                    data: finalList[0],
                    // [
                    //     { value: 1548, name: 'Search Engine' },
                    //     { value: 775, name: 'Direct' },
                    //     { value: 679, name: 'Marketing', selected: true }
                    // ]
                }
                ,
                {
                    name: 'College',
                    type: 'pie',
                    radius: ['45%', '60%'],
                    labelLine: {
                        length: 45,
                    },
                    label: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n{b|{b}：}{per|{d}%}  ',
                        backgroundColor: '#F6F8FC',
                        borderColor: '#8C8D8E',
                        fontSize :14,
                        borderWidth: 1,
                        borderRadius: 4,
                        rich: {
                            a: {
                                color: '#6E7079',
                                lineHeight: 27,
                                align: 'center',
                            },
                            hr: {
                                borderColor: '#8C8D8E',
                                width: '100%',
                                borderWidth: 1,
                                height: 0,
                            },
                            b: {
                                color: '#4C5058',
                                fontWeight: 'bold',
                                lineHeight: 35,
                                padding:[3,4]
                            },
                            per: {
                                color: '#fff',
                                backgroundColor: '#4C5058',
                                padding: [3, 4],
                                borderRadius: 4,
                            }
                        }
                    },
                    data:yearWiseNumbers[0],
                }
            ]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option);
        }
        window.addEventListener("resize", myChart.resize);


    </script>
    {% endblock %}
